.chart {
    display: flex;
    padding: 0.25rem 0.5rem;
    height: 12rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
}

@media (min-width: 768px) {
    .chart {
        padding: 1rem 2rem;
        height: 15rem;
    }
}
