.list {
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    padding: 1rem 0.5rem;
    margin: 0.5rem auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar {
    display: flex;
    min-width: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    padding: 0.5rem;
}

.calendar h1,
.calendar h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.calendar h3 {
    font-size: 0.8rem;
}

.list__title,
.list__amount {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.list__title {
    padding: 0 0.5rem;
}

@media (min-width: 768px) {
    .list {
        padding: 1rem;
    }
    .list__title,
    .list__amount {
        font-size: 2rem;
    }
    .calendar {
        min-width: 10rem;
    }
    .calendar h1 {
        font-size: 2rem;
    }
    .calendar h3 {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .calendar h1 {
        font-size: 2rem;
    }
}
