label {
    font-weight: bold;
    font-size: 1.2rem;
}

select {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.list__filter {
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    label,
    select {
        font-size: 1.5rem;
    }
}
